html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto',sans-serif;
}
*,*::before,*::after{
padding: 0;
margin: 0;
}
.h1{
    font-size: 2.5em;
    
}
.h2{
        font-size: 2em;
       
 }
.h3{
        font-size: 1.5em;
       
}
a{
        color: inherit;
        text-decoration: none;
}
li{
        list-style: none;
}
// hero left

.hero-left { 
    font-size: 20px;
    margin-top: 2em;
    margin-left: 2em;
    width: 50%;
	.hero-heading { 
        font-size: 2.5em;
        font-weight: 600;
        letter-spacing: 1px;
        
	}

	.hero-sub-heading { 
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 1px;
       margin-top: 0.2em;
       margin-bottom: 1em;
        opacity: 0.6;

	}

	.hero-description { 
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.4;
        opacity: 0.8;

	}

	.hero-buttons { 
        margin-top: 1em;

		.button-primary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 150, 33);
            border-radius: 4px;
            cursor: pointer;
		}

		.button-secondary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            margin-left: 1em;
            color: rgb(28, 145, 57);
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            border: 1px solid #309148;
            cursor: pointer;

		}
	}
}


// section left

.section-left { 
    font-size: 20px;
    margin-top: 8em;
    margin-bottom: 8em;
    margin-left: 2em;
    width: 50%;
	.section-heading { 
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 1px;
        
	}

	.section-sub-heading { 
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 1px;
       margin-top: 0.2em;
       margin-bottom: 1em;
        opacity: 0.6;

	}

	.section-description { 
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.4;
        opacity: 0.8;

	}

	.section-buttons { 
        margin-top: 1em;

		.button-primary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 150, 33);
            border-radius: 4px;
            cursor: pointer;
		}

		.button-secondary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            margin-left: 1em;
            color: rgb(28, 145, 57);
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            border: 1px solid #309148;
            cursor: pointer;

		}
	}
}

// section left two

.section-left-two { 
    font-size: 20px;
    margin-top: 8em;
    margin-bottom: 8em;
    margin-left: 2em;
    width: 50%;

    .section-topic{
        font-size: 0.6em;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom:2em;
        color: rgb(253, 53, 53);
    }
	.section-heading { 
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 1px;
        
	}

	

	.section-description { 
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.4;
        opacity: 0.8;
        margin-top: 1em;

	}

	.section-buttons { 
        margin-top: 1em;

		.button-primary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 150, 33);
            border-radius: 4px;
            cursor: pointer;
		}

		.button-secondary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            margin-left: 1em;
            color: rgb(28, 145, 57);
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            border: 1px solid #309148;
            cursor: pointer;

		}
	}
}

// section left with tags

.section-left-tags { 
    font-size: 20px;
    margin-top: 8em;
    margin-bottom: 8em;
    margin-left: 2em;
    width: 50%;

    .section-topic{
       
        font-weight: 600;
        letter-spacing: 1px;
      
        color: rgb(253, 53, 53);

        p{
                font-size: 0.8em;
        }
    }
	.section-heading { 
     
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        h1{

        }
        
	}

	

	.section-description { 
       
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.4;
        opacity: 0.8;
                p{
                        font-size: 0.8em;
                }

	}

	.section-buttons { 
       
                margin-top: 0.5em; 
		.button-primary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 150, 33);
            border-radius: 4px;
            cursor: pointer;
		}

		.button-secondary { 
            font-size: 0.9em;
            letter-spacing: 1px;
            border: none;
            padding-inline:1em;
            padding-block:0.5em;
            margin-left: 1em;
            color: rgb(28, 145, 57);
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            border: 1px solid #309148;
            cursor: pointer;

		}
	}
}


// menus 1

.navigation-wrapper { 
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        align-items: center;
        padding-block:0.5em;
        background-color: #dbdbdb;

	.logo-area { 
                display: flex;
                gap:2em;
                align-items: center;
		.logo { 
                        img{
                                height: 4em;
                                width: 4em;
                                object-fit: cover;
                                border-radius: 100%;
                        }
		}

		.logo-description { 

                }
                .bi-x-square{
                        display: none;
                }
	}

	.menu-area { 

		.menu-ul { 
                        display: flex;
                        gap: 2em;
			.menu-li { 

				a { 

				}
                        }
                        .menu-li:hover{
                                opacity: 0.5;
                        }
		}
	}

	.icons-area { 
                .bi-list{

                        cursor: pointer;
                        display: none;
                }
                .bi-list:hover{
                        opacity: 0.5;
                }
              
        }
      
}
.overlay-div{
        display: none;         
        pointer-events: none;
 }
@media(max-width:768px){
        .navigation-wrapper { 
               
                .logo-area { 
                        .logo { 
                                img{
                                }
                        }
        
                        .logo-description { 
        
                        }
                }
        
                .menu-area { 
                      

                        .menu-ul { 
                              display: none; 
                                .menu-li { 
        
                                        a { 
        
                                        }
                                }
                                .menu-li:hover{
                                }
                        }
                }
        
                .icons-area { 
                       

                      
                        .bi-list{
                           
                            

                        }
                        .bi-list:hover{
                        }
                       
                        .bi-list.active{
                                display: block; 
                               
                                margin-right: 1em;
                                color: red;

                            
                        }
                       
                       
                }
              
        }
        .overlay-div{
        }
        .overlay-div.active{
        }
        .navigation-wrapper.active { 
                position: fixed;
                top: 0;
                       
                left: 0;
                display:block;
                height: 100%;
                z-index: 200;
                height: 100%;
               
              
                width: 330px;
                background-color: #F6FCF8;
                ;
                .logo-area { 
                        position: relative;
                        z-index: 200;
                        .logo { 
                                img{
                                }
                        }
        
                        .logo-description { 
        
                        }
                        .bi-x-square{
                                display: block;
                              
                               margin-right: 1em;
                        }
                     
                        .bi-x-square.active{
                                display: block;
                               color: red;

                        }
                }
        
                .menu-area { 
                        position: relative;

                        z-index: 200;

                        .menu-ul { 
                                display:initial;
                                .menu-li { 
                                        margin-top: 1em;
                                        margin-left: 0.5em;
                                        a { 
        
                                        }
                                }
                                .menu-li:hover{
                                }
                        }
                }
        
                .icons-area { 
                       

                        z-index: 200;

                        .bi-list.active{
                        }
                        .bi-list:hover{
                        }
                       
                        .bi-list{
                            display: none;
                        }
                       
                       
                }
               
        }

        .overlay-div{
                display: none;
                z-index: 100;
                position: fixed;
                top: 0;
               
                left: 0;
                
                background-color: rgba(0, 0, 0,0.5);
                height: 100%;
                width: 100%;
        }
        .overlay-div.active{
                display: block;
                pointer-events: all;
        }
}